/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");

/* Setting Google Fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  padding: 5px;
}

div,
span,
p {
  font-family: "Roboto", sans-serif;
}

a {
  color: rgb(0, 29, 190);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

a:visited {
  color: rgb(0, 24, 160);
}

a:hover {
  color: rgb(255, 0, 0);
}

.logo-font {
  font-family: "Monoton", cursive;
}

.logo-font > a {
  color: rgb(42, 42, 42);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.logo-font > a:visited {
  color: rgb(24, 24, 24);
}

.logo-font > a:hover {
  color: rgb(255, 0, 0);
}

#prev-next-info > .logo-font > a {
  color: yellow;
}

#prev-next-info > .logo-font > a:visited {
  color: yellow;
}

#prev-next-info > .logo-font > a:hover {
  color: rgb(255, 0, 0);
}

#prev-next-angle > a {
  color: yellow;
}

#prev-next-angle > a:visited {
  color: yellow;
}

#prev-next-angle > a:hover {
  color: rgb(255, 0, 0);
}

.footer-menu-item > a {
  color: rgb(238, 238, 238);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.footer-menu-item > a:visited {
  color: rgb(218, 218, 218);
}

.footer-menu-item > a:hover {
  color: rgb(255, 0, 0);
}

.nav-menu-item {
  font-size: 1.15em;
}

button {
  background-color: #4e4caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.1s;
}

button:hover {
  background-color: #3e3d80;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24);
}

/* mobile layout settings */

/* navbar and menu settings */

#navigation {
  background-color: rgb(255, 255, 255);
  padding: 20px;

  grid-area: navigation;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;

  grid-template-areas: "logo-area menu-area"; */
}

#logo-area {
}

#menu-area {
  display: flex;

  flex-direction: column;

  justify-content: flex-end;
}

#menu-area > div {
  padding: 0px 0%;
}

/* featured image settings */

@keyframes bling {
  0% {
    filter: brightness(100%) contrast(100%) hue-rotate(0deg)
      drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.255));
  }

  25% {
    filter: brightness(110%) contrast(125%) hue-rotate(45deg)
      drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.5));
  }
  50% {
    filter: brightness(125%) contrast(150%) hue-rotate(0deg)
      drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.75));
  }
  75% {
    filter: brightness(110%) contrast(125%) hue-rotate(-45deg)
      drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.5));
  }
  100% {
    filter: brightness(100%) contrast(100%) hue-rotate(0deg)
      drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.25));
  }
}

.featured > img {
  display: block;
  width: 100%;
  margin: 10px 0px;
  /* transition: 1s; */
}

.featured > img:hover {
  animation-name: bling;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* filter: brightness(110%) contrast(110%) hue-rotate(30deg)
    drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.445)); */
}

/* social css settings */

#social {
  background-color: rgb(214, 214, 214);

  grid-area: social;

  padding: 20px 10px;
}

#social > h1 {
  text-align: center;
  padding: 10px;
}

#social-icons {
  display: flex;

  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
}

/* footer css settings */

#footer {
  background-color: rgb(51, 51, 51);
  color: aliceblue;
  padding: 20px 0px;

  grid-area: footer;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#social-icons > a > img {
  scale: 75%;
}

#footer-description {
  display: none;
}

/* post-grid settings */

.article-card {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  margin: 5px;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.article-card-img {
  width: 99%;
  padding: 0.5%;
  border-radius: 2.5%;
  transition: 0.25s;
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
}

.article-card-img:hover {
  border-radius: 0%;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.read-more {
  color: red;
}

#page-header {
  color: rgb(255, 255, 255);

  grid-area: page-header;

  padding: 125px;

  text-align: center;
  vertical-align: middle;
}

.bg01 {
  background-image: url("../img/white-seamless-1.jpg"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.99));
  background-size: cover;
  background-blend-mode: overlay;
}

.bg02 {
  background-image: url("../img/white-seamless-2.jpg"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.99));
  background-size: cover;
  background-blend-mode: overlay;
}

.bg03 {
  background-image: url("../img/white-seamless-3.jpg"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.99));
  background-size: cover;
  background-blend-mode: overlay;
}

#page-body {
  grid-area: page-body;
  padding: 2%;

  display: flex;
  flex-direction: column;

  line-height: 1.5em;

  text-align: justify;
}

#page-body > p,
h2 {
  margin-bottom: 1.25em;
  line-height: 1.25em;
  font-weight: bold;
  font-size: 1.2em;
}

#sidebar {
  background-color: rgb(161, 175, 255);

  grid-area: sidebar;
  padding: 5%;

  line-height: 1.5em;

  display: flex;
  flex-direction: column;
}

#sidebar > * {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

/* quotes */

q,
blockquote {
  quotes: "“" "”" "‘" "’";
  font-style: italic;
}

q:before,
blockquote:before {
  content: open-quote;
}

q:after,
blockquote:after {
  content: close-quote;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  color: rgb(0, 13, 199);
  font-size: 1.2em;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid rgb(137, 0, 216);
}

/* rules for medium-sized screens and above */

@media (min-width: 600px) {
  #navigation {
    background-color: rgb(255, 255, 255);
    padding: 20px;

    grid-area: navigation;

    display: grid;
    /* flex-direction: column;
    align-items: center; */
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

    grid-template-areas: "logo-area menu-area";
  }

  #menu-area {
    display: flex;

    flex-direction: row;

    justify-content: flex-end;
  }

  #menu-area > div {
    padding: 0px 2.5%;
  }

  .nav-menu-item {
    font-size: 1.4em;
  }

  #social-icons > a > img {
    scale: 100%;
  }

  #footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* rules for medium-sized screen ONLY */

@media (min-width: 600px) and (max-width: 899px) {
}

/* rules for large-sized screen */

@media (min-width: 900px) {
  #menu-area > div {
    padding: 0px 7%;
  }

  #social-icons > a > img {
    scale: 125%;
  }

  #footer-description {
    display: block;
  }
}
