/* BLOG PAGE CSS SETTINGS */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);

  grid-template-areas: "navigation navigation" "page-header page-header" "page-body page-body" "author author" "prev-post next-post" "sidebar sidebar" "social social" "footer footer";
}

/* CONTACT FORM */

#contact-sidebar {
  display: block;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #534caf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* rules for medium-sized screens and above */

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);

    grid-template-areas: "navigation navigation" "page-header page-header" "page-body sidebar" "social social" "footer footer";
  }
}

/* rules for medium-sized screen ONLY */

@media (min-width: 600px) and (max-width: 899px) {
}

/* rules for large-sized screen */

@media (min-width: 900px) {
}
